.electro-voice {
    padding-top: 166px;
    display: flex;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.electro-voice__img-left {
    width: 50%;
    max-width: 960px;
}

.electro-voice__img-right {
    width: 50%;
    max-width: 960px;
    position: relative;
}

.electro-voice__speaker {
    position: absolute;
    z-index: 2;
    top: 17%;
    width: 73px;
    height: 73px;
    background: rgba(57, 125, 255, 0.15);
    // mix-blend-mode: screen;
    border: 1px solid #397DFF;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.electro-voice__speaker-1 {
    left: 21.2%;
    transform: translate(-50%,-50%);
}

.electro-voice__speaker-2 {
    right: 23.5%;
    transform: translate(50%,-50%);
}

.electro-voice__speaker-inner {
    width: 26px;
    height: 26px;
    // mix-blend-mode: screen;
    border: 1px solid #397DFF;
    border-radius: 100%;
    cursor: pointer;
    // transition: .3s;

    // &:hover {
    //     background: #397DFF;
    //     transition: .3s;
    //     span {
    //         opacity: 1;
    //         transition: .3s;
    //     }
    // }
}
.electro-voice__speaker-inner-on {
    background: #397DFF;
}

.electro-voice__speaker-plus {
    display: block;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 7px;
        left: 11px;
        width: 2px;
        height: 10px;
        background-color: #fff;
    }

    &:before {
        content: "";
        position: absolute;
        top: 11px;
        left: 7px;
        width: 10px;
        height: 2px;
        background-color: #fff;
    }
}
