header {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 2;
    background-color: #EBEEF5;
}

.header {
    display: flex;
    align-items: center;
}

.header-email-wrapper {
    display: none;

	@media (min-width: 1200px) {
		margin-right: 25px;
        display: flex;
        align-items: center;
	}
}

.header-email__icon {
    margin-right: 10px;
}

.header-email__email {
    display: block;
    color: #2B2D3A;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    transition: .2s;

    &:hover {
        color: #000;
        transition: .2s;
    }
}

.header-phone-wrapper {
    display: none;

	@media (min-width: 1200px) {
		display: flex;
        align-items: center;
	}
}

.header-phone__icon {
    margin-right: 10px;
}

.header-phone__backcall {
    display: block;
    color: #397DFF;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    cursor: pointer;
    transition: .2s;

    &:hover {
        opacity: 0.8;
        transition: .2s;
    }
}

.header-phone__phone {
    display: block;
    color: #2B2D3A;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}
