.slider {
    max-width: 1920px;
	margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.slider-item {
    padding-top: 36px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    color: #fff;

    @media (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (min-width: 1200px) {
        padding-top: 170px;
        padding-bottom: 170px;
    }
}

.slider-item-1 {
    background:linear-gradient(0deg,rgba(1,1,1,0.6),rgba(1,1,1,0.6)),url(../img/slider-bg/slider-bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-item-2 {
    background:linear-gradient(0deg,rgba(1,1,1,0.6),rgba(1,1,1,0.6)),url(../img/slider-bg/slider-bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-item-3 {
    background:linear-gradient(0deg,rgba(1,1,1,0.6),rgba(1,1,1,0.6)),url(../img/slider-bg/slider-bg-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-item-4 {
    background:linear-gradient(0deg,rgba(1,1,1,0.6),rgba(1,1,1,0.6)),url(../img/slider-bg/slider-bg-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-content-wrapper {
    width: 100%;
    
    @media (min-width: 992px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        margin-right: auto;
	}
}

.slider-content {
    max-width: 620px;
    padding-left: 15px;

    @media (min-width: 768px) {
        padding-left: 30px;
    }

    @media (min-width: 1200px) {
        margin-left: auto;
	}
}

.slider-content__trend {
    color: #F0F0F0;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    @media (min-width: 1200px) {
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
	}
}

.slider-content__heading {
    color: #F0F0F0;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;

    @media (min-width: 1200px) {
        color: #fff;
        font-weight: 600;
        font-size: 52px;
        line-height: 63px;
	}
}

.slider-content__text {
    margin-bottom: 30px;
    color: #F0F0F0;
    font-weight: 500;
    font-size: 14px;
    line-height: 148%;
    opacity: 0.8;

    @media (min-width: 1200px) {
        margin-bottom: 50px;
        color: #fff;
        font-size: 16px;
	}
}

.slider-small-wrapper {
    display: none;

    @media (min-width: 992px) {
        display: block;
		position: absolute;
        top: 100px;
        right: 0;
        z-index: 10;

        width: 50%;
        color: #fff;
    }
    
    @media (min-width: 1200px) {
        top: 214px;
    }
}

.slider-small {
    position: relative;
    max-width: 350px;
    margin-left: auto;
    
    @media (min-width: 1200px) {
        max-width: 525px;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 185px;
            height: 205px;
            width: 2px;
            background-color: rgba(255, 255, 255,0.1);
        }
    }
}

.slider-small__item {
    margin-bottom: 20px;
    padding-right: 25px;
    max-width: 350px;

    @media (min-width: 1200px) {
        margin-bottom: 50px;
	}
}

.slider-small__number {
    color: #397DFF;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    @media (min-width: 1200px) {
        margin-bottom: 10px;
        font-size: 64px;
        line-height: 78px;
	}
}

.slider-small__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    opacity: 0.7;
}

.slider-small__controls {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(186, 209, 255, 0.2);
    transition: .3s;

    img {
        opacity: 0.2;
    }

    &:hover {
        background: #397DFF;
        transition: .3s;

        img {
            opacity: 1;
        }
    }
}

.slider-small__control-left {
    margin-right: 40px;
    padding: 7px 9px 6px 9px;
}

.slider-small__control-right {
    padding: 7px 10px 7px 12px;
}

// Стиили слайдеров
.owl-stage {padding-left: 0px !important;}
.owl-item {opacity: 0.3;}
.owl-item.active {opacity: 1;}

.flexslider {
    border: none;
    margin: 0;
}
