* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #EBEEF5;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
section {
  position: relative;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0px 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0px;
    max-width: 1140px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header {
  background-color: #EBEEF5;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-email-wrapper {
  display: none;
}
@media (min-width: 1200px) {
  .header-email-wrapper {
    margin-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header-email__icon {
  margin-right: 10px;
}
.header-email__email {
  display: block;
  color: #2B2D3A;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  -webkit-transition: .2s;
  transition: .2s;
}
.header-email__email:hover {
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
}
.header-phone-wrapper {
  display: none;
}
@media (min-width: 1200px) {
  .header-phone-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header-phone__icon {
  margin-right: 10px;
}
.header-phone__backcall {
  display: block;
  color: #397DFF;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}
.header-phone__backcall:hover {
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: .2s;
}
.header-phone__phone {
  display: block;
  color: #2B2D3A;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.header__logo {
  padding-top: 20px;
  padding-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo img {
  max-width: 148px;
}
@media (min-width: 768px) {
  .header__logo img {
    max-width: unset;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    margin-right: 27px;
  }
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media (min-width: 1200px) {
  .header-nav {
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
#navMenu {
  display: none;
}
@media (min-width: 1200px) {
  #navMenu {
    display: block;
  }
}
.header-nav__items {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1200px) {
  .header-nav__items {
    margin-bottom: 0;
    margin-right: 27px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header-nav__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(43, 45, 58, 0.1);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__item a {
  display: block;
  color: rgba(43, 45, 58, 0.7);
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
}
.header-nav__item a:hover,
.header-nav__item a:active {
  color: #397DFF;
  -webkit-transition: .2s;
  transition: .2s;
}
@media (min-width: 1200px) {
  .header-nav__item {
    width: auto;
    padding: 0;
    border: none;
    margin-right: 30px;
  }
  .header-nav__item:last-child {
    margin-right: 0;
  }
  .header-nav__item a {
    font-size: 14px;
  }
  .header-nav__item a:after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: -37px;
    height: 0;
    width: 85%;
    background: #397DFF;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .header-nav__item a:hover {
    color: #397DFF;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .header-nav__item a:hover:after {
    height: 3px;
    -webkit-transition: .2s;
    transition: .2s;
  }
}
.header-nav__item-icon {
  margin-right: 24px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  .header-nav__item-icon {
    display: none;
  }
}
.header-nav__text {
  margin-bottom: 22px;
  color: #2B2D3A;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}
@media (min-width: 1200px) {
  .header-nav__text {
    display: none;
  }
}
.header-nav__email-wrapper {
  margin-bottom: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__email-wrapper a {
  color: #397DFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
@media (min-width: 1200px) {
  .header-nav__email-wrapper {
    display: none;
  }
}
.nav-bar {
  margin-right: 10px;
  width: 24px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav-bar {
    margin-right: 0;
    width: 34px;
  }
}
@media (min-width: 1200px) {
  .nav-bar {
    display: none;
  }
}
.nav-bar span {
  height: 2px;
  display: block;
  position: relative;
  background-color: #2B2D3A;
  border-radius: 12px;
}
.nav-bar span:before,
.nav-bar span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #2B2D3A;
  border-radius: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-bar span:before {
  top: -6px;
}
.nav-bar span:after {
  top: 6px;
}
@media (min-width: 768px) {
  .nav-bar span {
    height: 4px;
    border-radius: 17px;
  }
  .nav-bar span:before,
  .nav-bar span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 34px;
    height: 4px;
    background-color: #2B2D3A;
    border-radius: 17px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .nav-bar span:before {
    top: -8px;
  }
  .nav-bar span:after {
    top: 8px;
  }
}
.nav-bar.active span {
  background-color: transparent;
}
.nav-bar.active span:before {
  top: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-bar.active span:after {
  top: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.slider-item {
  padding-top: 36px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
@media (min-width: 768px) {
  .slider-item {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .slider-item {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}
.slider-item-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 1, 1, 0.6)), to(rgba(1, 1, 1, 0.6))), url(../img/slider-bg/slider-bg-1.jpg);
  background: linear-gradient(0deg, rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url(../img/slider-bg/slider-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-item-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 1, 1, 0.6)), to(rgba(1, 1, 1, 0.6))), url(../img/slider-bg/slider-bg-2.jpg);
  background: linear-gradient(0deg, rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url(../img/slider-bg/slider-bg-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-item-3 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 1, 1, 0.6)), to(rgba(1, 1, 1, 0.6))), url(../img/slider-bg/slider-bg-3.jpg);
  background: linear-gradient(0deg, rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url(../img/slider-bg/slider-bg-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-item-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 1, 1, 0.6)), to(rgba(1, 1, 1, 0.6))), url(../img/slider-bg/slider-bg-4.jpg);
  background: linear-gradient(0deg, rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url(../img/slider-bg/slider-bg-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-content-wrapper {
  width: 100%;
}
@media (min-width: 992px) {
  .slider-content-wrapper {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .slider-content-wrapper {
    margin-right: auto;
  }
}
.slider-content {
  max-width: 620px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .slider-content {
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .slider-content {
    margin-left: auto;
  }
}
.slider-content__trend {
  color: #F0F0F0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
@media (min-width: 1200px) {
  .slider-content__trend {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}
.slider-content__heading {
  color: #F0F0F0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}
@media (min-width: 1200px) {
  .slider-content__heading {
    color: #fff;
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
  }
}
.slider-content__text {
  margin-bottom: 30px;
  color: #F0F0F0;
  font-weight: 500;
  font-size: 14px;
  line-height: 148%;
  opacity: 0.8;
}
@media (min-width: 1200px) {
  .slider-content__text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 16px;
  }
}
.slider-small-wrapper {
  display: none;
}
@media (min-width: 992px) {
  .slider-small-wrapper {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 10;
    width: 50%;
    color: #fff;
  }
}
@media (min-width: 1200px) {
  .slider-small-wrapper {
    top: 214px;
  }
}
.slider-small {
  position: relative;
  max-width: 350px;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .slider-small {
    max-width: 525px;
  }
  .slider-small:after {
    content: "";
    position: absolute;
    top: 0;
    right: 185px;
    height: 205px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.slider-small__item {
  margin-bottom: 20px;
  padding-right: 25px;
  max-width: 350px;
}
@media (min-width: 1200px) {
  .slider-small__item {
    margin-bottom: 50px;
  }
}
.slider-small__number {
  color: #397DFF;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
@media (min-width: 1200px) {
  .slider-small__number {
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 78px;
  }
}
.slider-small__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
}
.slider-small__controls {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(186, 209, 255, 0.2);
  -webkit-transition: .3s;
  transition: .3s;
}
.slider-small__controls img {
  opacity: 0.2;
}
.slider-small__controls:hover {
  background: #397DFF;
  -webkit-transition: .3s;
  transition: .3s;
}
.slider-small__controls:hover img {
  opacity: 1;
}
.slider-small__control-left {
  margin-right: 40px;
  padding: 7px 9px 6px 9px;
}
.slider-small__control-right {
  padding: 7px 10px 7px 12px;
}
.owl-stage {
  padding-left: 0px !important;
}
.owl-item {
  opacity: 0.3;
}
.owl-item.active {
  opacity: 1;
}
.flexslider {
  border: none;
  margin: 0;
}
.electro-voice {
  padding-top: 40px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .electro-voice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 83px;
  }
}
@media (min-width: 1200px) {
  .electro-voice {
    padding-top: 166px;
  }
}
.electro-voice__img-left {
  width: 100%;
  max-width: 960px;
}
@media (min-width: 768px) {
  .electro-voice__img-left {
    width: 50%;
  }
}
.electro-voice__img-right {
  width: 100%;
  max-width: 960px;
  position: relative;
}
.electro-voice__img-right img {
  position: relative;
  z-index: -2;
}
@media (min-width: 768px) {
  .electro-voice__img-right {
    width: 50%;
  }
}
.electro-voice__speaker {
  position: absolute;
  top: 17%;
  width: 40px;
  height: 40px;
  background: rgba(57, 125, 255, 0.15);
  border: 1px solid #397DFF;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .electro-voice__speaker {
    width: 73px;
    height: 73px;
  }
}
.electro-voice__speaker-1 {
  left: 21.2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.electro-voice__speaker-2 {
  z-index: -1;
  right: 23.5%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.electro-voice__speaker-inner {
  width: 20px;
  height: 20px;
  border: 1px solid #397DFF;
  border-radius: 100%;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .electro-voice__speaker-inner {
    width: 26px;
    height: 26px;
  }
}
.electro-voice__speaker-inner-on {
  background: #397DFF;
}
.electro-voice__speaker-plus {
  display: block;
  position: relative;
}
.electro-voice__speaker-plus:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 2px;
  height: 8px;
  background-color: #fff;
}
.electro-voice__speaker-plus:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
  width: 8px;
  height: 2px;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .electro-voice__speaker-plus:after {
    top: 7px;
    left: 11px;
    width: 2px;
    height: 10px;
  }
  .electro-voice__speaker-plus:before {
    top: 11px;
    left: 7px;
    width: 10px;
    height: 2px;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: auto;
  display: none;
}
.popup {
  width: 300px;
  padding: 16px 34px 15px 24px;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  left: -41px;
  top: -186px;
  position: relative;
  z-index: 19;
}
.popup img {
  z-index: 1;
}
@media (min-width: 768px) {
  .popup {
    width: 330px;
    left: -63px;
    top: -170px;
  }
}
@media (min-width: 1200px) {
  .popup {
    width: 360px;
    left: -144px;
    top: -156px;
  }
}
.popup-heading-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup-heading {
  max-width: 155px;
  margin-bottom: 7px;
  color: #2B2D3A;
  font-weight: 500;
  font-size: 16px;
  line-height: 132%;
}
@media (min-width: 1200px) {
  .popup-heading {
    font-size: 18px;
  }
}
.popup-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  background: #397DFF;
  -webkit-box-shadow: 4px 6px 12px rgba(57, 125, 255, 0.12);
          box-shadow: 4px 6px 12px rgba(57, 125, 255, 0.12);
  border-radius: 8px;
}
@media (min-width: 1200px) {
  .popup-img {
    width: 44px;
    height: 44px;
  }
}
.popup-list {
  max-width: 250px;
}
.popup-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: #2B2D3A;
  font-weight: 500;
  font-size: 12px;
  line-height: 142%;
}
.popup-list__item:last-child {
  margin-bottom: 0;
}
.popup-list__item span {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  background-color: rgba(57, 125, 255, 0.15);
  border-radius: 100%;
}
.popup-list__item span:before {
  content: "";
  display: block;
  width: 6.1px;
  height: 6.1px;
  background: #397DFF;
  border-radius: 100%;
}
.popup-close {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.popup-close:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 1px;
  background-color: #2b2d3a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-close:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 1px;
  background-color: #2b2d3a;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.popup-arrow {
  position: absolute;
  left: 20%;
  bottom: -23px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 28px;
  background: transparent;
  border: 15px solid transparent;
  border-top: 15px solid #fff;
}
@media (min-width: 768px) {
  .popup-arrow {
    left: 25%;
  }
}
@media (min-width: 1200px) {
  .popup-arrow {
    left: 50%;
  }
}
.overlay-form {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: none;
}
.popup-form {
  width: 320px;
  padding: 32px 10px 32px 10px;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .popup-form {
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .popup-form {
    width: 540px;
    padding: 32px 32px 48px 32px;
  }
}
.popup-form-heading {
  margin-bottom: 7px;
  color: #2B2D3A;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 1200px) {
  .popup-form-heading {
    font-size: 24px;
    line-height: 29px;
  }
}
.popup-form-text {
  margin-bottom: 20px;
  color: #2B2D3A;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
}
@media (min-width: 1200px) {
  .popup-form-text {
    font-size: 16px;
  }
}
.popup-form-close {
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.popup-form-close:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 22px;
  height: 1px;
  background-color: #2b2d3a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-form-close:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 22px;
  height: 1px;
  background-color: #2b2d3a;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.form-field {
  margin-bottom: 24px;
  padding-left: 15px;
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: rgba(43, 45, 58, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}
.form-field:focus {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: #2b2d3a;
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}
.form-field:last-child {
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .form-field {
    font-size: 16px;
  }
}
.form-personal-data {
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2B2D3A;
  font-weight: 500;
  font-size: 8px;
  line-height: 11px;
}
.form-personal-data a {
  color: #397DFF;
}
.form-personal-data a:hover {
  opacity: 0.8;
}
@media (min-width: 768px) {
  .form-personal-data {
    font-size: 9px;
  }
}
@media (min-width: 1200px) {
  .form-personal-data {
    font-size: 14px;
    line-height: 17px;
  }
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background: #EBEEF5;
  border: 1px solid #397DFF;
  border-radius: 3px;
  cursor: pointer;
}
.custom-checkbox:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  bottom: 0;
  right: 0;
  width: 13px;
  height: 9px;
  background-image: url(../img/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
}
.real-checkbox:checked + .custom-checkbox:before {
  display: block;
}
.overlay-thank {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: none;
}
.popup-thank {
  width: 320px;
  padding: 42px 15px 35px 15px;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .popup-thank {
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .popup-thank {
    width: 540px;
    padding: 32px 42px 39px 42px;
  }
}
.popup-thank__check-wrapper {
  margin-bottom: 20px;
  width: 130px;
  height: 130px;
  background: #F2F4F7;
  border: 1px solid #397DFF;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  .popup-thank__check-wrapper {
    width: 160px;
    height: 160px;
  }
}
.popup-thank__check {
  width: 62px;
  height: 62px;
  background: #397DFF;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-thank__check:before {
  content: "";
  width: 26px;
  height: 18px;
  background-image: url(../img/check_send.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .popup-thank__check {
    width: 77px;
    height: 77px;
  }
  .popup-thank__check:before {
    width: 42px;
    height: 32px;
  }
}
.popup-thank-text {
  margin-bottom: 24px;
  color: #2B2D3A;
  font-weight: 500;
  font-size: 14px;
  line-height: 162%;
  text-align: center;
}
@media (min-width: 1200px) {
  .popup-thank-text {
    margin-bottom: 27px;
    font-size: 18px;
  }
}
.popup-thank-close {
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.popup-thank-close:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 22px;
  height: 1px;
  background-color: #2b2d3a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-thank-close:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 22px;
  height: 1px;
  background-color: #2b2d3a;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.button {
  width: 158px;
  height: 42px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-radius: 8px;
  outline: none;
}
@media (min-width: 1200px) {
  .button {
    width: 186px;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
  }
}
.btn-1 {
  margin-right: 16px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-transition: .2s;
  transition: .2s;
}
.btn-1:hover {
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: .2s;
}
@media (min-width: 1200px) {
  .btn-1 {
    margin-right: 25px;
    margin-bottom: 0;
  }
}
.btn-2 {
  background: #397DFF;
  -webkit-box-shadow: 0px 6px 24px rgba(85, 104, 255, 0.12);
          box-shadow: 0px 6px 24px rgba(85, 104, 255, 0.12);
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
}
.btn-2:hover {
  background: #fff;
  color: #397DFF;
  -webkit-transition: .5s;
  transition: .5s;
}
.form-btn {
  display: block;
  width: 100%;
  height: 52px;
  background: #397DFF;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 12px 0 rgba(85, 132, 223, 0.68);
          box-shadow: 1px 3px 12px 0 rgba(85, 132, 223, 0.68);
  -webkit-transition: .3s;
  transition: .3s;
}
.form-btn:hover {
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 81, 170, 0.68);
          box-shadow: 0 6px 20px 0 rgba(0, 81, 170, 0.68);
  -webkit-transition: .3s;
  transition: .3s;
}
@media (min-width: 1200px) {
  .form-btn {
    font-size: 18px;
    line-height: 22px;
  }
}
.header-nav__btn {
  margin-bottom: 32px;
  padding-left: 70px;
  padding-right: 70px;
  max-width: 340px;
  height: 42px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: #397DFF;
  border-radius: 6px;
  border: none;
}
@media (min-width: 1200px) {
  .header-nav__btn {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */